# Python virtual environments
backend_weezleagues/.venv/
__pycache__/

# Node modules
frontend_weezleagues/node_modules/
frontend_weezleagues/.env

# Misc
*.log
*.sqlite3
.env
node_modules/
build/
.DS_Store
.vscode